@import '../../../../../../globalStyles.scss';

$bgColor: rgba(201, 203, 208, 0.2);

.menuItem {
  display: block;
  text-decoration: none;
  border-radius: 4px;
  text-decoration: none;
}

.menuItem,
.menuItem svg path,
.menuItem p {
  transition: 0.2s ease-in all;
  color: #fff;
}

.activeMenuItem,
.menuItem:hover {
  text-decoration: none;
  & p {
    color: #e8a562;
  }
  & svg path {
    fill: #e8a562 !important;
  }
}
