@import '../../../globalStyles.scss';

// $bgColor: rgba(43, 217, 120, 0.1);
$bgColor: #FFFF;


.signUp {
  overflow: hidden;
  background: linear-gradient(#433E99, #8F599D);
}

.loginBox {
  max-width: 400px;
  margin: 0 auto !important;
}

.background {
  height: 100vh;
  overflow: hidden;
  background-color: $bgColor;
}

.backgroundImage {
  width: 25%;
  margin: 0 auto;
  display: block;
}

.descriptionBox {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto !important;
  background-color: $bgColor;
}

.descriptionTextBox {
  max-width: 700px;
  margin: 5vh auto !important;
}

.signUpButton {
  width: 100%;
  background-color: #E8A562;
}
