@import '../../../../globalStyles.scss';


.popupContainer {
  // height: 100vh;
  // width: 100vw;
  // top: 0;
  // left: 0;
  z-index: 1;
  position: relative;
}

.sidePopup {
  background: #ffffff;
  border-radius: 4px;
  position: fixed;
  right: 2rem;
  bottom: 0;
  top: 13rem;
  height: 88rem;
  min-width: 45vw;
  overflow: auto;
} 

@media (max-width: $md-breakpoint) {
  .sidePopup {
    max-width: 80vw;
    min-width: 0;
  }
}

.actionSection {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
}