@import '../../../../globalStyles.scss';

.code {
  font-size: $fontSizeBody;
  max-height: 75vh;
}
.field {
  background: rgba(168, 168, 168, 0.1);
  border: 1px solid #c9cbd0;
  border-radius: 4px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.customToolTip {
  position: absolute !important;
  top: -170px !important;
  border: 2px solid #f0ebfc !important;
  border-radius: 5px !important;
  padding: 16px !important;
  z-index: 1000 !important;
  background-color: white !important;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $primaryColor;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primaryColor;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.updateButton {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: #443e99;
}

.updateButton:hover {
  background: #443e99;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: #fff;
}
