@import '../../../../../globalStyles';

.deploymentBanner {
  width: 100%;
  background-color: #fefacb;
  font-size: 16px;
  display: flex;
  font-family: Rubik;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__paragraph {
    text-align: center;
    margin: 0;
  }
}

@media (max-width: $md-breakpoint) {
  .deploymentBanner {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }
}
