.service_selectro_wrapper {
  img {
    height: 20px;
  }
}

.service_selector {
  margin-top: 30px;
  padding: 3px 20px !important;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c9cbd0;
  border-radius: 4px;
  cursor: pointer;



  .service_selector_selected {
    padding: 3px !important;
    background: rgba(201, 203, 208, 0.05);
    border: 1px solid #c9cbd0;
    border-radius: 4px;
  }
}

.services_container {
  padding: 20px !important;
  border-left: 1px solid #c9cbd0;
  border-right: 1px solid #c9cbd0;
  border-bottom: 1px solid #c9cbd0;

  .services {
    margin-bottom: 10px !important;
    img {
      height: 20px;
    }
    .servicesName {
      cursor: pointer;
    }

    .selectedBoxCheckbox {
      height: 15px;
      width: 15px;
      accent-color: green;
      cursor: pointer;
    }
  }

  .selectedBoxCheckbox {
    height: 15px;
    width: 15px;
    accent-color: green;
    cursor: pointer;
  }
}
