@import '../../../globalStyles.scss';

.dimmer {
  position: fixed;
  background: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(1px);
  height: 100vh;
  width: 100vw;

  top: 16.7rem;
  left: 0;
  z-index: 9999;
}

.popupContainer {
  z-index: 99999;
  position: relative;
}

.popupClose {
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: -2rem;
  right: 60.5vw;
  z-index: 999;
}

.sidePopup {
  background: #ffffff;
  border-radius: 4px;
  position: fixed;

  right: 0;
  bottom: 0;
  top: 16.7rem;
  height: 100vh;
  min-width: 60vw;
  overflow: hidden;

  iframe {
    border: 0px;
    height: 100vh;
    width: 100%;
    padding-bottom: 220px;
  }
}

@media (max-width: $md-breakpoint) {
  .sidePopup {
    max-width: 80vw;
    min-width: 0;
  }
}

.actionSection {
  width: 60vw;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
}
