@import '../../../../globalStyles.scss';

.field {
  background: rgba(168, 168, 168, 0.1);
  border: 1px solid #c9cbd0;
  border-radius: 4px;
}

.fieldButton {
  height: 20px;
  width: 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
}

.fieldButtonAdd {
  height: 20px;
  width: 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
}

.fieldButtonMinus {
  margin: 28px 0 2px 0;
  height: 20px;
  width: 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #431d93;
  display: flex;
  text-align: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $primaryColor;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primaryColor;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.textArea {
  // background: $inputBgColor;
  border: 0px solid $inputBorderColor;
  border-radius: $inputBorderRadius;
  box-sizing: border-box;
  display: flex;
  min-height: 45px;
  width: 100%;
  height: 160px;
  font-family: $fontFamilyNormal;
  font-size: $inputFontSize;
  color: #ccc;
  padding: 10px;
  &:focus {
    border: 1px solid $primaryColor;
  }
}
