@import '../../../globalStyles.scss';

.input {
  height: $inputHeight;
  line-height: $inputHeight;
  background: $inputBgColor;
  border: 1px solid $inputBorderColor;
  border-radius: $inputBorderRadius;
  width: 100%;
  font-family: $fontFamilyNormal;
  font-size: $inputFontSize;
  color: $inputTextColor;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  outline: 0;

  & .__PrivateStripeElement {
    height: 100%;
  }
}

.error {
  border: 1px solid $alertColor;
}

.focus {
  border: 1px solid $primaryColor;
}

.creditCard {
  height: 18.5rem;
  background: #424240;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  max-width: 340px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.creditCardName {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}

.creditCardExpiration {
  position: absolute;
  bottom: 3rem;
  left: 19.5rem;
}

.creditCardNumber {
  position: absolute;
  bottom: 7rem;
  left: 2rem;
  letter-spacing: 3px;

  & h4 {
    display: flex;
    align-items: center;
  }
}

.creditCardError {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 99;
  background: rgba(66, 66, 64, 0.8);
}

.bulletGroup {
  display: flex;
  margin-right: 1.2rem !important;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $primaryColor;
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

.creditCardImage {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 5rem;
}