@import '../../../../../../globalStyles';

.dimmer {
  position: fixed;
  background: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(1px);
  height: 100vh;
  width: 100vw;

  top: 20.3rem;
  left: 0;
  z-index: 9999;
}

.popupContainer {
  z-index: 99999;
  position: relative;
}

.sidePopup {
  background: #ffffff;
  border-radius: 4px;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 20.3rem;
  height: 100vh;
  min-width: 60vw;
  overflow: auto;
}

@media (max-width: $md-breakpoint) {
  .sidePopup {
    max-width: 80vw;
    min-width: 0;
  }
}

.popupClose {
  background-color: #fff;
  border-radius: 100px;
  position: fixed;
  top: 21rem;
  right: 62vw;
  z-index: 99999999999;
}

.actionSection {
  width: 60vw;
  background-color: white;
  position: fixed;
  bottom: 0;
}
