.addUserBox {
    width: 112px;
    text-align: center;
    cursor: pointer;
}

.userBox {
    width: 112px;
    text-align: center;
    margin-left: 19px;
    cursor: pointer;    
}

.imageContainer {
    height: 100px; 
    width: 100px; 
    position: relative;
    margin-left: 6px !important;

    img {
        height: 100%; 
        width: 100%; 
        border-radius: 100%; 
        object-fit: none; 
        border: 4px solid #fff; 
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
    }      
}

.userName {
    color: #443E99;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.rolesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // margin-left: 23px !important;
    .role {
        color: #A1A4AB;
        padding: 0 7px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}

.pendingIndicator {
    width: 64px;
    height: 20px;
    background-color: rgba(255, 153, 0, 0.2);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23px !important;

    .pendingText {
        color: rgba(255, 153, 0, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

    }
}