@import '../../../../globalStyles.scss';

.top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 0;
  background-color: #fff;
  z-index: 98;

}

.selectedBox {
    height: 60px;
    width: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border-radius: 6px;
    position: relative;

    img {
        padding: 7px 3px;
        height: 100%; 
        width: 100%; 
        object-fit: contain
    }
}

.selectedBoxCheckbox {
    height: 15px; 
    width: 15px;
    accent-color:green; 
    position: absolute; 
    top: 5px;
}


.stackFooter {
    width: 100%;
    height: 74px;
    position: sticky;
    bottom: 0;
    background-color: #fff; 
    background: #ffffff; 
    display: flex;
    justify-content: flex-end;
}
.stackFooterButton {
    right: 3rem;
    margin-right: 45px,
}


.fieldButton {
    height: 20px;
    width: 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color:transparent;
    display: flex;
    text-align: center;
    justify-content: center;
  }


  .fieldButtonAdd {
    height: 20px;
    width: 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .fieldButtonMinus {
    margin: 28px 0 2px 0;
    height: 20px;
    width: 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #431D93;
    display: flex;
    text-align: center;
    justify-content: center;
  }
