@import '../../../globalStyles.scss';

$tabWidth: 15rem;

.navigation {
  border-bottom: 1px solid $lightestGreyColor;
}

.item {
  border-bottom: 2px solid transparent;
  margin-bottom: -2px !important;
  min-width: $tabWidth;
  text-align: center;
}

.activeItem {
  color: $primaryColor;
  border-bottom: 2px solid $primaryColor;
}

.link {
  text-decoration: none;
  font-weight: 500;
}
