.userImage {
    height: 112px;
    width: 112px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;

    .sampleImage {
        height: 100%;
        width: 100%;
        background-color: #22BBDD;
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        border-radius: 100%;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: none;
    }
}

.memberName {
    color: #443E99;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    justify-content: center;
}

.numberOfMembers {
    color: rgba(100, 105, 114, 0.5);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}