@import '../../../globalStyles.scss';

$commandBgColor: #1d3052;

.command {
  background-color: $commandBgColor;
  border-radius: 4px;
  overflow: scroll;

  & p {
    font-family: $commandFontFamily;
  }
}

.commandWScroll {
  background-color: $commandBgColor;
  border-radius: 4px;
  overflow: hidden;

  & p {
    font-family: $commandFontFamily;
  }
}
