@import '../../../../../../globalStyles.scss';

$bgColor: rgba(201, 203, 208, 0.2);

.menuItem {
  display: block;
  text-decoration: none;
  border-radius: 4px;
}

.menuItem,
.menuItem svg path,
.menuItem p {
  transition: 0.2s ease-in all;
}

.activeMenuItem,
.menuItem:hover {
  // background-color: $whiteColor;

  & p {
    color: $primaryColor;
  }

  & svg path {
    fill: $ButterflyBlue !important;
  }
}
.menuItemSideBox{

width: 6.56px;
height: 36.53px;
background:$primaryColor !important;
border-top-right-radius: 10.25px;
border-bottom-right-radius: 10.25px;

}
