@import '../../globalStyles.scss';

.svg.white.useFill path {
  fill: $whiteColor;
}

.svg.darkGrey.useFill path {
  fill: $darkGreyColor;
}

.svg.black.useFill path {
  fill: $blackColor;
}

.svg.primary.useFill path {
  fill: $primaryColor;
}

.svg.grey.useFill path {
  fill: $greyColor;
}

.svg.red.useFill path {
  fill: $redColor;
}

.svg.orange.useFill path {
  fill: $orangeColor;
}

.svg.white.useStroke path {
  stroke: $whiteColor;
}

.svg.darkGrey.useStroke path {
  stroke: $darkGreyColor;
}

.svg.black.useStroke path {
  stroke: $blackColor;
}

.svg.primary.useStroke path {
  stroke: $primaryColor;
}

.svg.grey.useStroke path {
  stroke: $greyColor;
}

.svg.red.useStroke path {
  stroke: $redColor;
}

.svg.orange.useStroke path {
  stroke: $orangeColor;
}
