@import '../../globalStyles';

.card {
  &__key {
    margin-bottom: 4px;
  }

  &__value {
    color: $greyColor;
  }

  &__detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 16px;
  }

  &__summary {
    margin-bottom: 8px;
  }

  &__summary::marker {
    font-size: $fontSizeBody;
  }
}

