@import '../../../../globalStyles.scss';

.top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 0;
  background-color: #fff;
  z-index: 99;

}

.selectedBox {
    height: 60px;
    width: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border-radius: 6px;
    position: relative;

    img {
        padding: 7px 3px;
        height: 100%; 
        width: 100%; 
        object-fit: contain
    }
}

.selectedBoxCheckbox {
    height: 15px; 
    width: 15px; 
    accent-color: $primaryColor;  
    position: absolute; 
    top: 5px
}

.stackFooter {
    width: 100%;
    height: 70px;
    position: sticky;
    bottom: 0;
    background-color: #fff; 
    background: #fff; 
    display: flex;
    justify-content: flex-end;
}
.stackFooterButton {
    margin-top: 15px !important;
    right: 2rem;
    margin-right: 45px,
}