@import '../../globalStyles.scss';

.layoutflow {
  flex-grow: 1;
  position: relative;
  height: 100%;
  // margin-top: 100px;
}

.layoutflow .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 12px;
}

.layoutflow .controls button:first-child {
  margin-right: 10px;
}

.stepMainContainer {
  position: relative;
  height: auto;
  width: auto;
  // background-color: #e9e9e9;
  // overflow: hidden;
}

.stepBody {
  display: flex;
  flex-direction: row-reverse;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px solid #443E99 !important;
  // border-color: #443E99;
  border-radius: 4px;
  font-size: 8px;
  background: #ffffff;
  min-width: 6rem;
}

.stepBodySelected {
  display: flex;
  flex-direction: row-reverse;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 3px solid #443E99 !important;
  // border-color: #443E99;
  border-radius: 4px;
  font-size: 8px;
  background: #ffffff;
  min-width: 6rem;
}

.stepIcon {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  // border-radius: 10px !important;
  // opacity: 0.5;
  // background-color: rgba(0,0,0,0.0);
}

.stepText {
  padding: 0.5rem 0.5rem;
  align-self: center;
}

.stepTitle {
  font-weight: 600;
  font-size: 10px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.stepSub {
  font-weight: 300;
  font-size: 7px;
}

.stepFooter {
  width: 90%;
  padding: 3px;
  position: absolute;
  top: 90%;
  background-color: #431d93;
  z-index: -1;
  border-bottom-left-radius: 4px;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  // border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 200px;
  // border-bottom: 100px solid #431d93;
  // border-top: 100px solid #431d93;
  // border-left: 25px solid transparent;
  // border-right: 25px solid transparent;
  // height: 0;
  // width: 100px;

}

.artifactBody {
  position: relative;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px #431d93 solid;
  border-radius: 4px;
  background: #fff;
  padding: 0.5rem;
  box-shadow: 0 3px 10px rgba(0, 0 ,0, 0.1);

}
.artifactBodySelected {
  position: relative;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 3px #431d93 solid;
  border-radius: 4px;
  background: #fff;
  padding: 0.5rem;
  box-shadow: 0 3px 10px rgba(0, 0 ,0, 0.1);

}

.artifactIcon {
  // padding-bottom: 1px;
}

.artifactTitle {
  font-weight: 600;
  padding: 0.5rem 0.5rem;
}

.artifactBottomText {
  height: 14px;
  color: #431d93;
  font-family: 'Rubik';
  font-size: 12px;
  font-weight: 600;
  // background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.handle {
  border: none !important;
  background: none !important;
}

.codeContainer {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: "pink";
  justify-content: center;
  align-items: center;
}


.closeArrow{
  height: 500px;
  width: 500px;
  background-color: aqua;
}





// SIDE BAR

.sidebarMainContainer{
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 50vw;
  position: absolute;
  right: 0%;
  top: 48px;
  z-index: 101;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 101;
  box-shadow: 0px 0px 10px rgba(0, 0 ,0, 0.1);
  // overflow: hidden;
  // flex-wrap: wrap;
}
.btnContainer{
  height: 100vh;
  width: 0px;
  background-color: #431d9300;
  justify-content: center !important;
  align-items: center;
  margin-right: 0px;
  // opacity: 0.7;
  background-color: #431d93;
  z-index: -1000;
}

.btnContainer>img{
  z-index: -1000;
}

.sidebarClose{
    // display: none;
    transform: translate(100%);
    transition: all 300ms ease-in-out;
    width: 0vw;
}
.sidebarOpen{
    // display: none;
    transform: translate(0%);
    transition: all 300ms ease-in-out;
}
.bodyContainer{
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}