@import '../../globalStyles.scss';

.layoutflow {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.layoutflow .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 12px;
}

.layoutflow .controls button:first-child {
  margin-right: 10px;
}

.stepBody {
  display: flex;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px solid;
  border-radius: 2px;
  font-size: 8px;
  background: #fff;
  min-width: 6rem;
}

.stepIcon {
  display: grid;
  place-items: center;
  padding: 0.5rem;
}

.stepText {
  padding: 0.5rem 0.5rem;
  align-self: center;
}

.stepTitle {
  font-weight: 600;
  margin: auto;
}

.stepSub {
  font-weight: 300;
  font-size: 7px;
}

.artifactBody {
  position: relative;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px #431d93 solid;
  border-radius: 100%;
  background: #fff;
  padding: 0.5rem;
}

.artifactIcon {
  padding-bottom: 1px;
}

.artifactTitle {
  font-weight: 600;
  padding: 0.5rem 0.5rem;
}

.handle {
  border: none !important;
  background: none !important;
}
