@import '../../../globalStyles.scss';

.stackBox {
  width: 171px;
  height: 130px;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  position: relative;
}

.checkbox {
  height: 18px;
  width: 18px;
  accent-color: $primaryColor;
  position: absolute;
}

.viewConfig {
  height: 20px;
  width: 20px;
  right:4px;
  accent-color: $primaryColor;
  position: absolute;
}


.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;

  .imageContainer {  
    height: 50px;
    width: 100px;
    background-color: #fff;  
    // display: flex;
    // justify-content: center;
    // align-items: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    
    input[type="file"] {
      display: none;
  }
  }
  

}

.stackName {
  color: #443E99;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.stackDesc {
  color: #A8A8A8;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}