@import '../../globalStyles.scss';

.input,
.textarea {
  background: $inputBgColor;
  border: 1px solid $inputBorderColor;
  border-radius: $inputBorderRadius;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  font-family: $fontFamilyNormal;
  font-size: $inputFontSize;
  color: $inputTextColor;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  outline: 0;

  &:disabled {
    opacity: 0.4;
  }

  &.error {
    border: 1px solid $alertColor;
  }

  &:focus {
    border: 1px solid $primaryColor;
  }

  &:-ms-input-placeholder {
    color: $inputPlaceholderColor;
  }

  &::placeholder {
    color: $inputPlaceholderColor;
  }
}

.input {
  height: $inputHeight;
}

.textarea {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  
  border: 1px solid var(--lightGrey);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  font-family: Rubik;
  color: var(--black);
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  outline: 0;
}

.select:focus {
  background-image: linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: gray;
  outline: 0;
}

.padding {
  padding: 0.5rem 1rem;
}
