@import '../../../globalStyles.scss';

$width: 248px;
$boxShadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

.customFlavourBox {
  width: $width;
  height: 189px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: $boxShadow;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.imageContainer {
  height: 95px;
  background-color: #fff;  
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 62px;
  }

  input[type="file"] {
    display: none;
}
}

.flavourName {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  
}

.flavourDesc {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}