@import '../../../globalStyles.scss';

$paginationSize: 32px;
$paginationBorderColor: #F1F1F1;

.paginationNavigationItem,
.paginationNumbers {
  user-select: none;
  background:$whiteColor;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  cursor: pointer;
  outline: 0;
  width: $paginationSize;
  height: $paginationSize;
  border: 1px solid $paginationBorderColor;
  border-radius: 8px;
  margin-right: 5px;

  &.hidden {
    pointer-events: none;
    visibility: hidden;
  }
}


.paginationNumbers.active {
  background: #443E99;
  cursor: initial;
}

.paginationText {
  color: #333;
  font-size: 13px;
  font-weight: 600;
  font-family: Rubik;
}
.paginationText.active {
  background: #fff;
  cursor: initial;
}