@import '../../../../globalStyles.scss';

.popupContainer {
  z-index: 1;
  position: relative;
}

.sidePopup {
  background: #ffffff;
  border-radius: 4px;
  position: fixed;
  right: 1.3rem;
  bottom: 0;
  top: 19.8rem;
  height: 88rem;
  width: 60vw;
  overflow: auto;
}

@media (max-width: $md-breakpoint) {
  .sidePopup {
    max-width: 80vw;
    min-width: 0;
  }
}

.actionSection {
  width: 60vw;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
