@font-face {
  font-family: Rubik;
  src: url('./ui/assets/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: RubikBold;
  src: url('./ui/assets/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: SourceCodePro;
  src: url('./ui/assets/SourceCodePro-Regular.ttf') format('truetype');
}

html,
#root,
body,
.App {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  height: 11px; 
  width: 11px;
}

/* Handle */
::-webkit-scrollbar-thumb {  
  background: rgba(168, 168, 168, 0.5); 
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 6px;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
