@import "@fontsource-variable/inter";
@import "@fontsource-variable/jetbrains-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.layout-container {
		@apply mx-auto w-11/12 max-w-[1440px];
	}
	.link {
		@apply underline transition-all duration-150 hover:decoration-transparent;
	}
}

@layer components {
	[type="radio"]:checked {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%237A3EF4' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='5'/%3E%3C/svg%3E");
	}
}

@layer base {
	body {
		@apply bg-theme-surface-secondary font-sans font-medium text-theme-text-primary antialiased;
	}
}
