@import '../../../../../globalStyles';
$nameColor: #22bbdd;

.tile {
  border-radius: 3px;
  padding: 15px 15px !important;
  margin-right: 10px !important;

}



.tile,
.name {
  color: $nameColor;
}