.imageContainer {
    height: 161px; 
    width: 161px; 
    position: relative;

    img {
        height: 100%; 
        width: 100%; 
        border-radius: 100%; 
        object-fit: none; 
        border: 8px solid #fff; 
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
    }

    .imageUploader {
        height: 49px;
        width: 49px;
        border-radius: 100%;
        background-color: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    input[type="file"] {
      display: none;
    } 
}

.appDetails {
    padding: 7px 17px 7px 10px !important;
    background-color: rgba(239, 239, 239, 0.3);
    border-radius: 4px;
    display: flex;
    align-items: center;

    img {
        margin-right: 16px;
    }

    .appDetailsText {
        color: #424240;
        font-size: 18px;
        font-weight: 400;        
    }
}

.uiVersionText {
    margin-top: 20px;
    color: rgba(66, 66, 64, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: right;
}
.appVersionText {
    margin-top: 20px;
    color: rgba(66, 66, 64, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: right;
}

.roleBean {
    height: 25px;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    padding: 4px 9px 4px 9px;
    background-color: #F4F4F4;
    
    p {
        color: #828282;
        font-family: 'Rubik';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
}

.date {
    color: #828282;
    font-family: 'Rubik';
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.passwordValidator {
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 3px;
    padding: 16px !important;

    .heading {
        color: #1A3C40;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        margin-bottom: 20px;
    }

    .indicator {
        display: flex; 
        align-items: center;
        height: 25px;
    
        p {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }

        img {
            height: 9.4px;
            width: 13px;
        }
    }
}