name: Check Links

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - future
  pull_request:
    types: [opened, synchronize, ready_for_review]
    branches:
      - main
      - future
concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Check Links
        run: bash scripts/check-links.sh
